@{
    ViewBag.Title = "Washington Food Coalition Member Portal";
}
<h2>@ViewBag.Title</h2>

<table style="width: 94%;" border="0" cellspacing="10" cellpadding="0">
    <tbody>
        <tr>
            <td class="px16" colspan="2">
                <h2 class="grey"><span class="myriadbig" style="font-family: arial,helvetica,sans-serif;">About Us </span></h2>
            </td>
        </tr>
        <tr>
            <td align="left" valign="top" width="97%">
                <p class="myriadnotsobig"><span style="font-family: arial, helvetica, sans-serif;"><strong>We are the unified voice for a strong emergency food system.</strong></span></p>
                <h4><strong><span style="font-family: arial, helvetica, sans-serif; font-size: 14px;">Mission and History</span></strong></h4>
                <p><span style="font-family: arial,helvetica,sans-serif; font-size: 12px;"><em>The Washington Food Coalition (WFC) actively educates and networks with organizations that strive to alleviate hunger throughout Washington.</em></span></p>
                <p><span style="font-family: arial,helvetica,sans-serif; font-size: 12px;"> Incorporated in 1992 as a private non-profit, WFC is the result of a merger between the Western Washington Food Coalition and Eastern Washington's Northwest Regional Food Network. &nbsp;With the goal of creating an efficient, reliable network of food programs in mind, volunteer coalition members first started working together to share best practices, struggles, and triumphs across the field.</span></p>
                <h4 style="font-size: 10px;"><span style="font-family: arial, helvetica, sans-serif; font-size: 14px;"><strong style="font-size: 10px; color: #1d1d1d; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 1.2em;"><a href="http://www.wafoodcoalition.org/assets/images/map-white.jpg"><img style="font-size: 10px; float: right; margin-left: 10px; margin-right: 10px;" src="http://www.wafoodcoalition.org/assets/images/map-white.jpg" alt="map" width="323" height="222"></a></strong></span></h4>
                <p><span style="font-family: arial,helvetica,sans-serif; font-size: 12px;">Now, WFC serves as the collective voice of more than 300 hunger relief agencies from across the state, from Walla Walla to Spokane to Moses Lake to Bellingham to Seattle to Vancouver and just about everywhere in between. Members of the WFC range from large, multi-service agencies and distribution warehouses, to meal programs and small volunteer-operated food banks in both urban and rural communities.<br><br></span></p>
                <p><span style="font-family: arial,helvetica,sans-serif; font-size: 12px;">To help maximize our effectiveness, WFC is separated into <strong>14 membership districts with locally elected Board Members</strong> representing every area of the state. &nbsp;Each board member brings unique insight to the table about their geographic area to ensure the coalition has the widest perspective on statewide issues. &nbsp;We believe this environment creates the most well rounded programs and initiatives, leading to a stronger Washington emergency food system. For more information about our membership districts please see our page on <a href="http://www.wafoodcoalition.org/member-governance">Member Governance</a>.</span></p>
                <p><span style="font-family: arial,helvetica,sans-serif; font-size: 12px;"> &nbsp;</span></p>
                <p><strong><span style="font-size: 12px;"><span style="font-family: arial,helvetica,sans-serif; font-size: 14px;">Who We Are and What We Do</span><br></span></strong><span style="font-family: arial,helvetica,sans-serif;"><span style="font-size: 12px;">WFC is &nbsp;membership-based coalition for emergency food providers. &nbsp;To this end, WFC works to strengthen the emergency food system through:</span></span></p>
                <ul>
                    <li><span style="font-family: arial, helvetica, sans-serif;"><span style="font-size: 12px; line-height: normal;">A yearly 3-day <a href="http://www.wafoodcoalition.org/conference">conference</a> &amp; regional summits with training and networking opportunities</span></span></li>
                    <li><span style="font-family: arial, helvetica, sans-serif;"><span style="font-size: 12px; line-height: normal;"><a href="http://www.wafoodcoalition.org/resources">Training manuals &amp; other resources</a></span></span></li>
                    <li><span style="font-family: arial, helvetica, sans-serif;"><span style="font-size: 12px; line-height: normal;">Technical Support</span></span></li>
                    <li><span style="font-family: arial, helvetica, sans-serif;"><span style="font-size: 12px; line-height: normal;">Partnerships to leverage advocacy efforts &amp; develop better programs</span></span></li>
                    <li><span style="font-family: arial, helvetica, sans-serif;"><span style="font-size: 12px; line-height: normal;"><a href="http://www.wafoodcoalition.org/advocacy">Advocacy</a> for emergency food funding</span></span></li>
                    <li><span style="font-family: arial, helvetica, sans-serif;"><span style="font-size: 12px; line-height: normal;">Education about the effects of state &amp; federal legislation</span></span></li>
                </ul>
                <p><span style="font-family: arial, helvetica, sans-serif;"><span style="font-size: 12px; line-height: normal;">With the ever changing environment surrounding emergency food, WFC also continually adapts our efforts to make sure our members receive the most out of their membership and ensure <em>no one in Washington goes hungry</em>.</span></span></p>
                <p>&nbsp;</p>
                <p><span style="font-family: arial,helvetica,sans-serif;"><span style="font-size: 12px;">&nbsp;</span></span></p>
                <p>&nbsp;<img style="float: left; margin: 10px 20px;" src="http://www.wafoodcoalition.org/assets/images/img_9607.jpg" alt="Mike Cohen and Suzanne Nevan" width="311" height="214"></p>
                <p>&nbsp;</p>
                <p><em><span style="font-family: arial,helvetica,sans-serif;"><span style="font-size: 12px;">"Washington Food Coalition, I think, is a really nice group to be a part of because it is us: food banks, meal programs, as diverse as the people we serve. It is nice to be reminded of that when I meet big places that have a full professional staff and small places that are 100% volunteer-run. That’s who is the Washington Food Coalition.”</span></span></em></p>
                <p style="text-align: right;"><span style="font-family: arial,helvetica,sans-serif;"><span style="font-size: 12px;">-Mike Cohen, Bellingham Food Bank</span></span></p>
                <p style="text-align: right;">&nbsp;</p>
                <p style="text-align: right;"><img style="float: right; margin: 10px 30px;" src="http://www.wafoodcoalition.org/assets/557841_10151567561386199_1034855248_n-1.jpg" alt="Helen in Hunger T-Shirt" width="237" height="214"></p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p><em><span style="font-family: arial, helvetica, sans-serif; font-size: 12px;">"Our relationship with Washington Food Coalition helps us in several ways. One of them is establishing partnerships; there are a lot of relationships that come about. How do we share food? How do we share best practices? Having everyone at the table is a gift.”</span></em></p>
                <p style="padding-left: 90px;"><span style="font-family: arial, helvetica, sans-serif; font-size: 12px;">-Helen McGovern-Pilant, Emergency Food Network</span></p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p><img style="float: left; margin: 10px 30px;" src="http://www.wafoodcoalition.org/assets/gruber.jpg" alt="Joe Gruber" width="214" height="218"></p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p><em><span style="font-size: 12px; font-family: arial, helvetica, sans-serif;">"Being part of Washington Food Coalition allows me to learn from the trial and errors of my colleagues from across the state. I’m able to adopt best practices and strategies that would work for programs that my food bank runs and learn to better implement them so that I can better serve my clients.”</span></em></p>
                <p style="padding-left: 120px; text-align: right;"><span style="font-family: arial, helvetica, sans-serif; font-size: 12px;">-Joe Gruber, University District Food Bank</span></p>
                <p style="padding-left: 120px;"><span style="font-size: 12px; font-family: arial, helvetica, sans-serif;">&nbsp;</span></p>
                <img style="float: right; margin: 5px 30px;" src="http://www.wafoodcoalition.org/assets/images/conference-403%202.jpg" alt="Conference Conversation" width="214" height="300"><br><br>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p><em><span style="font-family: arial, helvetica, sans-serif; font-size: 12px;">"The true benefit of Washington Food Coalition for me is getting to know that there is a place where all the member agencies get to come together to have a voice, be heard, and know they aren’t alone doing this work. There’s a whole bunch of people committed to helping people who need food”</span></em></p>
                <p style="padding-left: 270px;"><span style="font-family: arial, helvetica, sans-serif; font-size: 12px;">-Anna Constant, Food Lifeline</span></p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p>&nbsp;<span style="font-size: 10px; line-height: 1.2em;">&nbsp;</span></p>
            </td>
        </tr>
    </tbody>
</table>