@{
    ViewBag.Title = "Contact Us!";
}

<div id="contentPadding">
    <table class="contentpaneopen">
        <tbody>
            <tr>
                <td valign="top">
                    <table style="width: 980px;" border="0" cellspacing="0" cellpadding="0" align="center">
                        <tbody>
                            <tr>
                                <td>
                                    <table style="width: 100%;" border="0" cellspacing="10" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td valign="top" width="71%">
                                                    <table style="width: 100%;" border="0" cellspacing="10" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td class="myriadbig">
                                                                    <h1><span style="font-family: arial, helvetica, sans-serif;">@ViewBag.Title</span></h1>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <form action="/frms/contactmail.pl" method="post">
                                                                        <table style="width: 100%;" border="0" cellspacing="0" cellpadding="0" align="center">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <table style="width: 100%;" border="0" cellspacing="1" cellpadding="4">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td align="center" width="70%">
                                                                                                        <p class="myriadbig"><span style="font-family: arial, helvetica, sans-serif;">Have a question? We’ll try to answer it.</span></p>
                                                                                                        <p class="myriadbig"><span style="font-family: arial, helvetica, sans-serif;">Have an idea? We’d love to hear it.</span></p>
                                                                                                        <p class="myriadbig"><span style="font-family: arial, helvetica, sans-serif;">Want to help fight hunger? Let us know.</span></p>
                                                                                                        <p class="MsoNormal"><span style="font-family: arial, helvetica, sans-serif;"><strong>Phone or Fax</strong></span></p>
                                                                                                        <p class="style1"><span style="font-family: arial, helvetica, sans-serif;">1-877-729-0501 toll-free</span><br><span style="font-family: arial, helvetica, sans-serif;"><span id="gc-number-0" class="gc-cs-link" title="Call with Google Voice">(206) 729-0501</span> phone</span><br><span style="font-family: arial, helvetica, sans-serif;"><span id="gc-number-1" class="gc-cs-link" title="Call with Google Voice">(206) 729-0504</span> fax</span></p>
                                                                                                        <p class="MsoNormal"><span style="font-family: arial, helvetica, sans-serif;"><strong>Mailing Address</strong></span></p>
                                                                                                        <p class="style1"><span style="font-family: arial, helvetica, sans-serif;">PO Box 95752 Seattle, WA 98145 -2752</span></p>
                                                                                                        <p class="MsoNormal"><span style="font-family: arial, helvetica, sans-serif;"><strong>Email </strong></span></p>
                                                                                                        <p class="style1"><span style="font-family: arial, helvetica, sans-serif;"><a href="mailto:info@wafoodcoalition.org?subject=Email%20from%20WFC%20Website">info@wafoodcoalition.org</a></span></p>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td align="center">
                                                                                                        <h2 class="bodybig">&nbsp;</h2>
                                                                                                        <map name="Map">
                                                                                                            <area shape="rect" coords="0,2,135,52" href="https://www.networkforgood.org/donation/MakeDonation.aspx?ORGID2=943123637&amp;vlrStratCode=wQT9BM8gMoM/SOJ9ug5cvWlSecYeMxM2+nZPpnUwrT8dhgD/9LwQC3A9auh8kyY9">
                                                                                                        </map> <map name="Map2">
                                                                                                            <area shape="rect" coords="-2,-1,152,52" href="http://wafoodcoalition.blogspot.com/">
                                                                                                        </map> <map name="Map3">
                                                                                                            <area shape="rect" coords="2,4,139,54" href="http://www.facebook.com/#%21/pages/WASHINGTON-FOOD-COALITION-The-voice-of-emergency-food-programs-in-WA/351585971198?ref=ts">
                                                                                                        </map> <map name="Map4">
                                                                                                            <area shape="rect" coords="1,2,142,69" href="http://twitter.com/wafoodcoalition">
                                                                                                        </map>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </form>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td valign="top" width="22%">
                                                    <table style="width: 100%;" border="0" cellspacing="0" cellpadding="10">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left">
                                                                    <h2 class="bodybig"><a href="https://wfc.memberclicks.net/index.php?option=com_mc&amp;view=mc&amp;mcid=form_133409%20%20%20"><img src="http://www.wafoodcoalition.org/assets/donate_button.png" alt="donate button" width="150"></a><span>&nbsp;</span></h2>
                                                                    <p><a href="http://wafoodcoalition.blogspot.com"><img src="http://www.wafoodcoalition.org/assets/images/blog-logo.png" alt="" width="65"></a>&nbsp;<a href="https://wfc.memberclicks.net/index.php?option=com_mc&amp;view=mc&amp;mcid=form_114822%20%20"><img src="http://www.wafoodcoalition.org/assets/images/enewsletter-logo.png" alt="" width="65"></a><br></p>
                                                                    <p><a href="http://twitter.com/wafoodcoalition" target="_blank"><img src="http://www.wafoodcoalition.org/assets/images/twitter-logo.png" alt="" width="65"></a>&nbsp;<a href="http://facebook.com/waFood" target="_blank"><img src="http://www.wafoodcoalition.org/assets/images/facebook-logo.png" alt="" width="65"></a>&nbsp;</p>
                                                                    <p><a href="http://wafoodcoalition.org/membership#map"><img src="http://www.wafoodcoalition.org/assets/images/foodbank-logo.png" alt="" width="65"></a>&nbsp;<a href="http://youtube.com/wafoodcoalition" target="_blank"><img src="http://www.wafoodcoalition.org/assets/images/youtube-logo.png" alt="" width="65"></a></p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td><br></td>
                                                            </tr>
                                                            <tr>
                                                                <td align="right">&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>

        </tbody>
    </table>
</div>